#bottomnav{
    margin-top:1000px;
    position:relative;
    float:right;
    background-color:orange;
    /*float:bottom;*/
}
#nav{
    margin-top:-1046px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 55%;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #009900;
    background: -moz-linear-gradient(#009900, #009900);
    background: -webkit-linear-gradient(#009900, #009900);
    background: -o-linear-gradient(#009900, #009900);
    position: relative;
    left: 50%;
    margin-left: -25%;
}

.modalDialogBar {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialogBar:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialogBar > div {
    width: 55%;
    height: 440px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #009900;
    background: -moz-linear-gradient(#009900, #009900);
    background: -webkit-linear-gradient(#009900, #009900);
    background: -o-linear-gradient(#009900, #009900);
    position: relative;
    left: 50%;
    margin-left: -25%;
}

canvas#drawing{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

#unmute{
    margin-top: 10px;
}

#mute{
    margin-top:  10px;
}

div#storyrect{
    width: 50%;
    margin: 0 auto;
}